
body{

    background-color: #2B3964;
    
    
  
  }

  .container-1{

    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: space-between;

  }

  .container-1 div {

    padding-top: ;
    padding: 1em;
    flex: 1;

  }


  #playerName {
  

    text-align: center;
    font-size: 3.5em;
    color: #BECAEE;
    margin-bottom: 1em;
  
  }

  #playerLevel{


    
  }

  #playerIcon {

 
  }
  
  

  .playerInfo {

    color:white;

  }

  .profile {
  

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  
  }